@import 'reset';

* {
    box-sizing: border-box;
}

body {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.o-wrap {
    margin: 0 auto;
    max-width: 700px;
}

/* Image */
.c-image {
    position: relative;

    img {
        width: 100%;
    }
}
.c-targetBox {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid red;
}